# Ignore everything
/*

# But not these files...
!.gitignore
!.gitconfig
!makefile
!makefile.d/
!makefile.d/**

# Unignore some filesystem directories
!root/
root/*
!root/.bashrc.d/
!root/.bashrc.d/**
root/.bashrc.d/.bashrc
!root/.gitconfig
!etc/
etc/*
!etc/sudoers.d/
!etc/sudoers.d/**
!etc/slashfiles
!etc/slashfiles/**
!etc/apt
etc/apt/*
!etc/apt/sources.list.d/
etc/apt/sources.list.d/*
!etc/apt/sources.list.d/*.list
!etc/apt/sources.list.d/*.sources
!etc/apt/trusted.gpg.d
etc/apt/trusted.gpg.d/*
!etc/apt/trusted.gpg.d/*.gpg
!etc/apt/trusted.gpg.d/*.asc
!usr/
usr/*
!usr/local/
usr/local/*
!usr/local/bin/
!usr/local/bin/*


# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*

# But especially ignore these files
.bashrc.d/99-private.sh
.bashrc.d/.bashrc
etc/sudoers.d/README

